*, * ::before, ::after,{
	-webkit-box-sizing: Border box;
	-moz-box-sizing: Border box;
	box-sizing: Border box;
	
}




.grid {
	text-align: justify;
	position: relative;
	display: inline-block;
 	min-width: 100%;
 	overflow-y: auto;
 	background-color: blue;
}

.grid > *{
		float:left;
		width:30%;
		margin:0 1% 1.5em 1%;
		
}



.frame {
		min-height:600px;
		max-width: 100%;
		position: relative;
		background-color: blue;
		text-align: justify;
			
}

* input {background-color: #33ccff;
		font-size: 20px;
		border-color: white;
		border-width: 2px;
		width:75%;
	}	

* select {
		background-color: #33ccff;
		border-color: white;
		border-width: 2px;
		font-size: 20px;
		width:75%;

		}
* textarea {
			background-color: #33ccff;
			width:75%;

} 










			
